extends cleanLayout
block head  
  link(rel='stylesheet', type='text/css', href='/css/cleanCanvas/about.css', media="screen")
  link(rel='stylesheet', href='css/cleanCanvas/lib/flexslider.css', type='text/css', media='screen')
block content
  body
    #aboutus
      .container
        .section_header
          h3 About Us
        .row
          .span6.intro
            h6
              | There are many variations of passages Lorem Ipsum available, injected generators on the hidden.
            p
              | There are many variations of passages of Lorem Ipsum available, injected
              | generators on the  embarrassing hidden in the middle all the dictionary making it look like readable English. Many desktop publishing packages and web page editors.
              br
              br
              | There are many variations of passages of Lorem Ipsum available, but the ndictionary of over 200 Latin words, combined with a handful of models The generated Lorem Ipsum is therefore always free from repetition, the injected humour, or non-characteristic words etc.
          .span6.flexslider
            ul.slides
              li
                img(src='img/about_slide1.jpg')
              li
                img(src='img/about_slide1.jpg')
              li
                img(src='img/about_slide1.jpg')
    #team
      .container
        .section_header
          h3 Meet our Team
        .row.people
          .row.row1
            each person, p in com.employees
              if (p %2 == 0)  
                .span6.bio_box
                  img(src='https://s3.amazonaws.com/KyperImageHost/#{site}/site/#{person.csrf}#{person.contentType}', alt='')
                  .info
                    p.name=person.name
                    p.area=person.job
                    a.facebook(href=person.fbUrl)
                      span.socialicons.ico1
                      span.socialicons_h.ico1h
                    a.twitter(href=person.twitterUrl)
                      span.socialicons.ico2
                      span.socialicons_h.ico2h
                    a.linkedin(href=person.linkedin)
                      span.socialicons.ico4
                      span.socialicons_h.ico4h
              else  
                .span6.bio_box.bio_boxr
                  img(src='https://s3.amazonaws.com/KyperImageHost/#{site}/site/#{person.csrf}#{person.contentType}', alt='')
                  .info
                    p.name=person.name
                    p.area=person.job
                    a.facebook(href=person.fbUrl)
                      span.socialicons.ico1
                      span.socialicons_h.ico1h
                    a.twitter(href=person.twitterUrl)
                      span.socialicons.ico2
                      span.socialicons_h.ico2h
                    a.linkedin(href=person.linkedin)
                      span.socialicons.ico4
                      span.socialicons_h.ico4h
    #process
      .container
        .section_header
          h3 Our Process
        .row.services_circles
          .span4.description
            .text.active
              h4 Plan what you need.
              p
                | There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
            .text
              h4 Develop your product or service.
              p
                | There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                | making this the first true generator  Internet.
            .text
              h4 Design this theme to your needs.
              p
                | There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
          .span7.areas
            .circle.active
              img(src='img/plan.png')
              span Plan
            .circle
              img(src='img/develop.png')
              span Develop
            .circle.last_circle
              img(src='img/design.png')
              span Design
  script(type='text/javascript', src='js/cleanCanvas/flexslider.js')