extends layout-1
block content
  body
    if com.carouselOn 
      #myCarousel.carousel.slide
            ol.carousel-indicators
              each slide, s in com.carousel
                if slide.active
                  li.active(data-target='#myCarousel', data-slide-to=slide.number)
                else
                  li(data-target='#myCarousel', data-slide-to=slide.number)
            .carousel-inner
              each slide, s in com.carousel
                if slide.active
                  .item.active
                    .fill(style='background-image: url(\'http://placehold.it/1900x1080&text=Slide Three\');')
                    .carousel-caption
                      h1=slide.headline
                else
                  .item
                    .fill(style='background-image: url(\'http://placehold.it/1900x1080&text=Slide Three\');')
                    .carousel-caption
                      h1=slide.headline
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
              span.icon-prev
            a.right.carousel-control(href='#myCarousel', data-slide='next')
              span.icon-next
    .section
      .container
        .row
          .col-lg-4.col-md-4
          -each service in com.services
            h3
              i.fa.fa-check-circle
              |  #{service.title}
            p
              | #{service.desc}
    .section-colored.text-center
      .container
        .row
          .col-lg-12
            h2=com.slogan
            p=com.slogandesc
            hr
    .section
      .container
        .row
          if com.navPortfolio
            .col-lg-12.text-center
              h2 Portfolio
              hr
            - each project, p in com.portfolio 
              .col-lg-4.col-md-4.col-sm-6
                a(href='images/'+ project.img)
                  img.img-responsive.img-home-portfolio(src='images/'+ project.img)
                h3=project.title
                p=project.desc
        .row
          if com.galleryOn
            .col-lg-12.text-center
              h2 Gallery
              hr
            - each tile, t in com.gallery
              .col-lg-4.col-md-4.col-sm-6
                a(href='images/'+ tile.img)
                  img.img-responsive.img-home-portfolio(src='images/'+ tile.img)
                h2=tile.title
          else
            h2 Nothing enabled to show in this section

              a.btn.btn-lg.btn-primary.pull-right(href='/gallery') View Gallery
    .section-colored
      .container
        .row
          .col-lg-6.col-md-6.col-sm-6
            h2 Modern Business Features Include:
            ul
              li Bootstrap 3 Framework
              li Mobile Responsive Design
              li Predefined File Paths
              li Working PHP Contact Page
              li Minimal Custom CSS Styles
              li Unstyled: Add Your Own Style and Content!
              li Font-Awesome fonts come pre-installed!
              li
                | 100%
                strong Free
                | to Use
              li Open Source: Use for any project, private or commercial!
          .col-lg-6.col-md-6.col-sm-6
            img.img-responsive(src='http://placehold.it/700x450/ffffff/cccccc')
    .section
      .container
        .row
          .col-lg-6.col-md-6.col-sm-6
            img.img-responsive(src='http://placehold.it/700x450')
          .col-lg-6.col-md-6.col-sm-6
            h2 Modern Business Features Include:
            ul
              li Bootstrap 3 Framework
              li Mobile Responsive Design
              li Predefined File Paths
              li Working PHP Contact Page
              li Minimal Custom CSS Styles
              li Unstyled: Add Your Own Style and Content!
              li Font-Awesome fonts come pre-installed!
              li
                | 100%
                strong Free
                | to Use
              li Open Source: Use for any project, private or commercial! 
    .container
      .row.well
        .col-lg-8.col-md-8
          h4
            | 'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!
          p
            | For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!
        .col-lg-4.col-md-4
          a.btn.btn-lg.btn-primary.pull-right(href='http://startbootstrap.com') See More Templates! 
