extends modBuisLayout
block content
  body
    if com.carouselOn 
      #myCarousel.carousel.slide
            ol.carousel-indicators
              each slide, s in com.carousel
                if slide.active
                  li.active(data-target='#myCarousel', data-slide-to=slide.number)
                else
                  li(data-target='#myCarousel', data-slide-to=slide.number)
            .carousel-inner
              each slide, s in com.carousel
                if slide.active
                  .item.active
                    .fill(style='background-image: url(\'http://placehold.it/1900x1080&text=Slide Three\');')
                    .carousel-caption
                      h1=slide.headline
                else
                  .item
                    .fill(style='background-image: url(\'http://placehold.it/1900x1080&text=Slide Three\');')
                    .carousel-caption
                      h1=slide.headline
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
              span.icon-prev
            a.right.carousel-control(href='#myCarousel', data-slide='next')
              span.icon-next
    .section
      .container
        .row
          .col-lg-4.col-md-4
            -each service, s in com.services
              h3
                i.fa.fa-check-circle
                |  #{service.title}
              p
                | #{service.desc}
    .section-colored.text-center
      .container
        .row
          .col-lg-12
            h2=com.slogan
            p=com.slogandesc
            hr
    .section
      .container
        .row
         // if com.navTab.portfolio
            .col-lg-12.text-center
              h2 Portfolio
              hr
             - each project, p in com.portfolio
              .col-lg-4.col-md-4.col-sm-6
                a(href='images/'+ project.img)
                  img.img-responsive.img-home-portfolio(src='images/'+ project.img)
          //ifelse com.navTab.services
            .col-lg-12.text-center
              h2 Gallery
              hr
            - each tile in com.gallery  
              .col-lg-4.col-md-4.col-sm-6
                a(href='images/'+ tile.img)
                  img.img-responsive.img-home-portfolio(src='images/'+ tile.img)
            a.btn.btn-lg.btn-primary.pull-right(href='/gallery') View Gallery
          //else 
            h2 Nothing is enabled for this section  
    -each item, i in com.detailedItems
      if (i % 2 != 0)
        .section-colored
          .container
            .row
              .col-lg-6.col-md-6.col-sm-6
                h2=item.title
                ul
                  li=item.bullet1
                  li=item.bullet2
                  li=item.bullet3
                  li=item.bullet4
                  li=item.bullet5
                  li=item.bullet6
              .col-lg-6.col-md-6.col-sm-6
                img.img-responsive(src='images/'+item.img)
      if (i % 2 == 0)
        .section
          .container
            .row
              .col-lg-6.col-md-6.col-sm-6
                img.img-responsive(src='images/'+item.img)
              .col-lg-6.col-md-6.col-sm-6
                h2=item.title
                ul
                  li=item.bullet1
                  li=item.bullet2
                  li=item.bullet3
                  li=item.bullet4
                  li=item.bullet5
                  li=item.bullet6
    .container
      .row.well
        .col-lg-8.col-md-8