extends modBuisLayout
block content  
  body
    .container
      .row
        .col-lg-12
          h1.page-header
            | Services
            small   What We Do
        // /.row
        .row
          .col-lg-12
            img.img-responsive(src='http://placehold.it/1200x300')
        // /.row
        // Service Paragraphs
        .row
          .col-md-12
            -each service, s in com.services
              if s===0
                h2.page-header=service.title
                  h4=service.description
        // /.row
        hr
        .row
          .col-lg-12
            -each service, s in com.services
              if s===0
                //to make pictures start on second service
              else
                .col-sm-4
                  img.img-responsive(onError="this.onerror=null;this.src='/images/annapolis03.jpg';", src='https://s3.amazonaws.com/KyperImageHost/#{com._id}/site/#{service.csrf}#{service.contentType}')
                  h3=service.title
                  p=service.description
                  a.btn.btn-link.btn-sm.pull-right
                    | More
                    i.fa.fa-angle-right