!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title=com.company
    //title=com.company + "|" + title    For if there are changing titles per page/section
    // Bootstrap core CSS
    link(href='css/bootstrap.css', rel='stylesheet')
    // Add custom CSS here
    link(href='css/stylish-portfolio.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet')
  body
    // Side Menu
    a#menu-toggle.btn.btn-primary.btn-lg.toggle(href='#')
      i.fa.fa-reorder
    #sidebar-wrapper
      ul.sidebar-nav
        a#menu-close.btn.btn-default.btn-lg.pull-right.toggle(href='#')
          i.fa.fa-times
        li.sidebar-brand
          a(href='/')=com.company
        if com.navTab.about
          li
            a(href='#about') About
        if com.navTab.services
          li
            a(href='#services') Services
        if com.navTab.contact
          li
            a(href='#contact') Contact
        if com.navTab.portfolio
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Portfolio
              b.caret
            ul.dropdown-menu
              li
                a(href='#services') Overview
              //Specific Projects can be added with each function
        if com.navTab.blog
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Blog
              b.caret
            ul.dropdown-menu
              li
                a(href='/blog') Blog Home 1
                //Page doesn't currenlty exist
        if com.navTab.other
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Other Pages
              b.caret
            ul.dropdown-menu
              li
                a(href='#top') Other Toggle
    // /Side Menu
    // Full Page Image Header Area
    #top.header
      .vert-text
        h1=com.company
        h3=com.slogan
        a.btn.btn-default.btn-lg(href='#about') Find Out More
    // /Full Page Image Header Area
    // Intro
    #about.intro
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            h2=com.mainFooterTitle
            p.lead=com.mainFooterDesc
    // /Intro
    // Services
    #services.services
      .container
        if com.navTab.services
          .row
            .col-md-4.col-md-offset-4.text-center
              h2 Our Services
              hr
              //Later on I plan to do an each statement for each service/portfolio item, but for now there most likley won't be that man
          .row  
            .col-md-2.col-md-offset-2.text-center
              .service-item
                i.service-icon.fa.fa-rocket
                //i=com.services.service1.picturelink  Figure out the correct way to do this
                h4=com.services.service1.title
                p=com.services.service1.desc
            .col-md-2.text-center
              .service-item
                i.service-icon.fa.fa-magnet
                h4=com.services.service2.title
                p=com.services.service2.desc
            .col-md-2.text-center
              .service-item
                i.service-icon.fa.fa-shield
                h4=com.services.service3.title
                p=com.services.service3.desc
            .col-md-2.text-center
              .service-item
                i.service-icon.fa.fa-pencil
                h4=com.services.service4.title
                p=com.services.service4.desc
        if com.navTab.portfolio
          .row
            .col-md-4.col-md-offset-4.text-center
              h2 My Portfolio
              hr
              //Later on I plan to do an each statement for each service/portfolio item, but for now they most likley won't be that man
          .row  
            .col-md-2.col-md-offset-2.text-center
              .service-item
                i.service-icon.fa.fa-rocket
                //i=com.services.service1.picturelink  Figure out the correct way to do this
                h4=com.portfolio.project1.title
                p=com.portfolio.project1.desc
            .col-md-2.text-center
              .service-item
                i.service-icon.fa.fa-magnet
                h4=com.portfolio.project2.title
                p=com.portfolio.project2.desc
            .col-md-2.text-center
              .service-item
                i.service-icon.fa.fa-shield
                h4=com.portfolio.project3.title
                p=com.portfolio.project3.desc
            .col-md-2.text-center
              .service-item
                i.service-icon.fa.fa-pencil
                h4=com.portfolio.project4.title
                p=com.portfolio.project4.desc
            // /Portfolio
        else
        //What this section does if both portfolio and services are disabled.
    // Callout
    .callout
      .vert-text
        h1 A Dramatic Text Area
    // /Callout
    // Portfolio
    #portfolio.portfolio
      .container
        .row
          .col-md-4.col-md-offset-4.text-center
            h2 Our Work
            hr
        .row
          - each project, p in com.porfolio
            .col-md-4.col-md-offset-2.text-center
              //if (p % 2 != 0 )
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='images/'+ project.img)
                  h4=project.title
                  p=project.desc
              //ifelse (p % 2 == 0)
                .col-md-4.text-center
                  .portfolio-item
                    a(href='#')
                      img.img-portfolio.img-responsive(src='images/portfolio-2.jpg')
                    h4 Is That On Fire?
              //else
                h2 No projects to display      
    // /Portfolio
    // Call to Action
    .call-to-action
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            if com.scheduleOn
              h3 Schedule
              h4
                | Monday:
                |#{com.schedule.monday}
                br
                | Tuesday :
                |#{com.schedule.tuesday}
                br
                | Wednesday :
                |#{com.schedule.wednesday}
                br
                | Thursday :
                |#{com.schedule.thursday}
                br
                |Friday: 
                |#{com.schedule.friday}
                br
                | Saturday :
                |#{com.schedule.saturday}
                br
                |Sunday :
                |#{com.schedule.sunday}
            else
              h4 The schedule would be here, but you don't want to display it.
            //a.btn.btn-lg.btn-default(href='#') Click Me!
            //a.btn.btn-lg.btn-primary(href='#') Look at Me!
    // /Call to Action
    // Map
    #contact.map
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A&output=embed')
      br
      small
        a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A')
    // /Map
    // Footer
    footer
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            ul.list-inline
              li
                i.fa.fa-facebook.fa-3x
                //(src=com.fbUrl) How to make the icons actually link to somewhere?
              li
                i.fa.fa-twitter.fa-3x
              li
                i.fa.fa-dribbble.fa-3x
            .top-scroll
              a(href='#top')
                i.fa.fa-circle-arrow-up.scroll.fa-4x
            hr
            p Copyright © 
              a(href='mailto:' + com.contact.email)=com.company
              |  2013
    // /Footer
    // Bootstrap core JavaScript
    // Placed at the end of the document so the pages load faster
    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    // Custom JavaScript for the Side Menu and Smooth Scrolling - Put in a custom JavaScript file to clean this up
    script.
      $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
    script.
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
    script.
      $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\\//,'') == this.pathname.replace(/^\//,'')
      || location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
      $('html,body').animate({
      scrollTop: target.offset().top
      }, 1000);
      return false;
      }
      }
      });
      });
